<%= render "layouts/nav" %>
<div class="container">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12 blog-content">
    <% if current_user.id == @post.user_id %>
      <h2 class="text-center"><%= link_to @post.title, edit_post_path(@post) %></h2>
    <% else %>
      <h2 class="text-center"><%= @post.title %></h2>
    <% end %>
    <h6 class="text-center">Written by: <%= @post.user.name %>, on <%= @post.created_at.strftime('%b %d, %Y') %></h6>
    <div><%= raw @post.body %></div>
  </div>
</div>
